.banner
  %ul
    %li
      = image_tag "https://photos-6.dropbox.com/t/2/AAAjfjd0EKF4hepeOKwBg5renEaoqRWevSnSc0VRVi4b1A/12/312418975/png/32x32/3/1450242000/0/2/heroku_app.png/ENb047MCGL1uIAcoBw/SvQqmOtHa7goYyWdMyvybwZ9JaY5sBlhzd0Oyj5WoBw?size_mode=3&size=1280x960", width: "100%", alt: "Stories"
    %li
      = image_tag "https://photos-6.dropbox.com/t/2/AAAjfjd0EKF4hepeOKwBg5renEaoqRWevSnSc0VRVi4b1A/12/312418975/png/32x32/3/1450242000/0/2/heroku_app.png/ENb047MCGL1uIAcoBw/SvQqmOtHa7goYyWdMyvybwZ9JaY5sBlhzd0Oyj5WoBw?size_mode=3&size=1280x960", width: "100%", alt: "Stories"
%section
  - @works.each do |work|
    .app
      .app__name= work.name
      .app__description= work.description
      = link_to work.url, work.url
