<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
  </nav>
  <h1>ViXP</h1>
</header>
  
<%= yield %>

<footer>
  <%= link_to image_tag("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB4UlEQVRIS7WVjVECQQyFuQqECoQKxArECtQKxArUCjwrECoQKhAqkA7ECjwqkA7O991sMLfHjSc/O5OZ293kvSSb5JLWkVdi+Hmep/r+ksyTJFnvwiuMtuyuJG1hjMEoCHTRDeBsAR9Jxk2JAvC9bB4AD871ZJ8ZwbUO3yKvM+0nkn4QnPCL+6VkEYDj+xsRzIwgldJTBLDv9lkEqREMhfa6L2JkX4qANHwcmOBcESyPn6Kogg4cRKuXiICSpMSOscYQUGpnEfpc+4nENxzvZDXOOXa2OKdQaDK/lhDk0SENRsP8ewkKp269YUyw0mWfDpYyHlG6d9pjWFnbdHSWSfHUlGOCojm4lCJpOJGsddapIajoyI7oXzyBf4NLgS0CwSZ1OtsMRU/k02s6OhtI5z3ofRLBTBt7HE8A0YWE6cqs2paiik5EMIfAh1S0d4iAyuBuVDdVwxQt6ejMD85HCAD6Du7tXEEWXlRJnXhU8GjMcV//hW2oGEslaZvEOQvO8tPC6d9pGgAsnzw6b1FH0qoB78qOfwoNOZXOENxSdbixATgeQrpiKlafuIgKMGp+IAEQz0tprpRfMOLheCz6oMmiQXEmlTOZN9ha36YQJi2h+zlk1zaPshi0MUET1//S+QHJuPJ3nYDKoAAAAABJRU5ErkJggg==", alt: 'GitHub'), 'https://github.com/ViXP' %>
  <%= link_to image_tag("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA+ElEQVRIS+2VgQ2CMBBF7QTqBOIGjtBN1A10AzbQDZRJZAUnsGyAE9T/SWsACba0JJJ4yaVNSf+7a4+rmMG01gsMJ7iEJ1wLMIW9OfwohCiFEX9ggZCYVkJsTcAVk21M5ZpWRgBTWo0EUATogeIF9qVwBmhtgwnv8m1DARkucNcODLFKrN1CAXeIM9IPiwXYA8DCGA2wZH1T3ZT4BVNb4hwb2XnfAcSFDb3rSNpp/QagHnXX2fdl5JTBH+DVKqZZRY3eMsn/IDQDBQHnB8fzkgvvJ9MTUD2Z7IDMYt7XBuw3D8ATe5KqMxrIGVP57bgcAHxKc/iBbf0FXf695upryDgAAAAASUVORK5CYII=", alt: 'Facebook'), 'https://www.facebook.com/cyrilvixp' %>
  <%= link_to image_tag("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABKUlEQVRIS+2WYQ3CMBCFqQKQAApgCsACCsABc8DmgDkYDnAAEoYDcAAKyjsoSXftrR2wEBKW9Afr9X307l071WOP1jrDqwXGAKPEyJVSFx4X+1vZgUZ8zRYXAKSxgjyOAyoEjJ0gED4F0D4h6P8Bj8SgyN9JEdiHQJFPmK9QqiLkIu8OWjhoB8jcjuc2fRdA2iNAaEf3pwtAAgD1UyeAI8QnXaToaoyQ2umJTtFPdTIdy32PLWvOaGFbx0XUUFOPAN0JWRthyUUbTKwEIQJseRFDUN4HMyzYhxYJ89RcJf5ALtqUJnDeSWmK5dbS6VwkAAyhRJ3oK3YMhA69xFuD50tAqBtpJ69Aat0sXoVmJ6XgqqadNKeIrwSICr/EoF05HwRW/NkUObM1blV2eRlg4oZcAAAAAElFTkSuQmCC", alt: 'Twitter'), 'https://twitter.com/CyrilViXP' %>
  <br/>&copy; ViXP 2015
</footer>
</body>
</html>
